section {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.participants {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.call-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0 0.5rem;
}

button {
  font-size: smaller;
}

.leave-button {
  background: var(--custom-red);
}

.leave-button:hover {
  background: var(--custom-red-hover);
}
